@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Lato", sans-serif;
    color: aliceblue;
}

section#home{
    height: 100dvh;
    width: 100%;
    background: #020024;
    background: linear-gradient(160deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;

}
section#home header{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}   
section#home header .title{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: start;

}
section#home header .title img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
section#home header .title h1{
    color: aliceblue;
}
section#home header nav{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#home header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
section#home header nav ul a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    font-size: 1rem;
}
section#home header div{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: end;
}
section#home header div button{
    width: 25%;
    height: 2rem;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border: none;
    border-radius: 1rem;
    color: aliceblue;
    font-weight: bolder;
    font-style: normal;

}
section#home #content{
    display: flex;
}
section#home #content div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#home #content h2{
    font-size: 3rem;
}
section#home #content img{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    
}